NOTION_TOKEN=
OPENAI_API_KEY=
BLOB_READ_WRITE_TOKEN=

PORT=3000
NODE_ENV=development
TRUST_PROXY=0

PGDATABASE=smartai
PGUSER=
PGPASSWORD=
PGHOST=/var/run/postgresql
PGPORT=5432

SMARTAI_STORAGE_DIR=storage
SMARTAI_UPLOAD_DIR=
SMARTAI_LOG_FILE=smartai.log

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

NGROK_AUTHTOKEN=
